@using MyBlog.Web.Models;
@using MyBlog.Web.Service;
@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "文章列表";
    List<artice> _list = ViewBag.List;
    ViewBag.PageName = "artice";
}
<table class="table table-bordered table-hover" style="text-align:center">
    <thead>
        <tr>
            <td class="col-md-1">文章标题</td>
            <td class="col-md-1">文章类型</td>
            <td class="col-md-1">创建时间</td>
            <td class="col-md-1">操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (artice _artice in _list)
        {
            <tr>
                <td class="col-md-1">@(_artice.title)</td>
                <td class="col-md-1">@(_artice.type.typename)</td>
                <td class="col-md-1">@(_artice.create_time)</td>
                <td>
                    <a href="articeedit?id=@(_artice.id)" class="btn btn-minier btn-success">编辑</a>
                    <a href="javascript:;" class="btn btn-minier btn-danger delete_artice" data-id="@(_artice.id)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="wwj_foot">
    <a href="articeadd" class="btn btn-primary">添加文章</a>
</div>

@section scripts{
    <script type="text/javascript">
        $(".delete_artice").click(function () {
            if (confirm("你确定要删除这篇文章吗？")) {
                var $id = $(this).attr("data-id");

                $.post("articedel", { id: $id }, function (data) {
                    if (data.code == 400) {
                        alert(data.message);
                    }
                    else {
                        alert("删除文章成功！");
                        location.reload();
                    }
                });

            }
        });
    </script>
}