@using MyBlog.Web.Models;
@using MyBlog.Web.Service;
@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "添加文章";
    ViewBag.PageName = "artice";
    List<artice_type> _type_list = ViewBag.TypeList;
}


<div class="panel panel-default">
    <div class="panel-heading">
        添加文章
    </div>
    <div class="panel-body">
        <form id="artice_type_add_form" name="artice_type_add_form" class="form-horizontal" role="form" method="post" action="">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="login_name">
                    标题
                </label>
                <div class="col-sm-9">
                    <input type="text" value="" id="title" placeholder="请输入文章标题" name="title" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="login_name">
                    文章类型
                </label>
                <div class="col-sm-9">
                    <select id="artice_type" class="col-xs-10 col-sm-5">
                        @foreach (artice_type _type in _type_list)
                        {
                            <option value="@(_type.id)">@(_type.typename)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="real_name">
                    SEO标题：
                </label>
                <div class="col-sm-9">
                    <input type="text" value="" id="seo_title" placeholder="请输入文章类型SEO标题" name="seo_title" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="phone">
                    SEO关键词：
                </label>
                <div class="col-sm-9">
                    <input type="text" value="" id="seo_key" placeholder="请输入文章类型SEO关键词" name="seo_key" class="col-xs-10 col-sm-5" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="password">
                    SEO描述
                </label>
                <div class="col-sm-9">
                    <textarea class="col-xs-10 col-sm-5" id="seo_description" placeholder="请输入文章类型SEO描述"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="password">
                    内容
                </label>
                <div class="col-sm-9">
                    <textarea id="container" placeholder=""></textarea>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="head_img">
                </label>
                <div class="col-sm-9">
                    <a class="btn btn-success" href="javascript:;" id="artice_add_btn">保存</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/webedit/ueditor.config.js"></script>
    <script type="text/javascript" src="~/Content/webedit/ueditor.all.min.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script type="text/javascript">
        $("#artice_add_btn").click(function () {
            var $title = $("input[name='title']").val();
            var $seo_title = $("input[name='seo_title']").val();
            var $seo_key = $("input[name='seo_key']").val();
            var $seo_description = $("#seo_description").val();
            var $content = ue.getContent();
            var $artice_type = $("#artice_type").val();
            var $flag = true;

            if ($flag == true && $title == "") {
                $flag = false;
                alert("文章标题不能为空！");
            }
            if ($flag == true && $seo_title == "") {
                $flag = false;
                alert("文章SEO标题不能为空!");
            }
            if ($flag == true && $seo_key == "") {
                $flag = false;
                alert("文章SEO关键词不能为空!");
            }
            if ($flag == true && $seo_description == "") {
                $flag = false;
                alert("文章SEO描述不能为空！");
            }

            $($flag == true)
            {
                var param = {
                    title: $title,
                    seo_title: $seo_title,
                    seo_key: $seo_key,
                    seo_description: $seo_description,
                    content: $content,
                    artice_type: $artice_type
                };
                $.post("articeadd", param, function (data) {
                    if (data.code == 200) {
                        alert("添加文章成功!");
                        location.href = "articelist";
                    }
                    else {
                        alert(data.message);
                    }
                }, "json");
            }
        });
    </script>
}