@using MyBlog.Web.Models;
@using MyBlog.Web.Service;
@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "文章类型列表";
    List<artice_type> _list = ViewBag.list;
    ViewBag.PageName = "artice_type";
}
<table class="table table-bordered table-hover" style="text-align:center">
    <thead>
        <tr>
            <td class="col-md-1">类型名称</td>
            <td class="col-md-1">文章总数</td>
            <td class="col-md-1">操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (artice_type _type in _list)
        {
            <tr>
                <td class="col-md-1">@(_type.typename)</td>
                <td class="col-md-1">@(_type.artice_count)</td>
                <td>
                    <a href="typeedit?id=@(_type.id)" class="btn btn-minier btn-success">编辑</a>
                    <a href="javascript:;" class="btn btn-minier btn-danger delete_artice_type" data-id="@(_type.id)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="wwj_foot">
    <a href="typeadd" class="btn btn-primary">添加文章类型</a>
</div>

@section scripts{
    <script type="text/javascript">
        $(".delete_artice_type").click(function () {
            if (confirm("你确定要删除这条文章分类记录吗？"))
            {
                var $id = $(this).attr("data-id");

                $.post("typedel", { id: $id }, function (data) {
                    if (data.code == 400) {
                        alert(data.message);
                    }
                    else {
                        alert("删除文章分类成功！");
                        location.reload();
                    }
                });

            }
        });
    </script>
}